@import '../../assets/styles/vars';

// /. imports

.cell {
    width: 40px;
    height: 40px;
    border-top: 2px solid $white-color;
    border-left: 2px solid $white-color;
    border-bottom: 2px solid $dark-gray-color;
    border-right: 2px solid $dark-gray-color;
    cursor: pointer;
}