@import '../../assets/styles/vars';

// /. imports

.playground-area {
    background-color: $dark-color;
    display: grid;
    grid-template-columns: repeat(var(--size), minmax(40px, 1fr));
    grid-template-rows: repeat(var(--size), 40px);
    gap: 1px;
}